<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Peers" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  
  <appSettings>
    
    <!-- The port the state service listens on for connections from the web server (usually 42424) -->
    <add key ="WebserverPort" value ="42424"/>

    <!-- The port the state service listens on for connections from peer services -->    
    <add key ="PeerPort" value ="42425"/>

    <!-- Set AuthenticatePeers to true to authenticate peer connections 
        NOTE: This value must be be the same on all peers
    -->
    <add key ="AuthenticatePeers" value="true"/>

    <!-- Set EncryptPeerData to true to encrypt data passed between peers
        NOTE: This value must be be the same on all peers
    -->
    <add key ="EncryptPeerData" value ="true"/>

    <!-- The PeerPassword used for authentication and encryption 
        NOTE: This value must be be the same on all peers
    -->
    <add key ="PeerPassword" value="sunny's_super_state_service"/>

    <!-- The MaxForwards value is the maximum number of times a message can be forwarded to peers.
    
      NOTE:
        To be able to search the entire network for sessions, set this value to the number of peers
        between the two farthest peers on the network.        
    -->
    <add key ="MaxForwards" value="5"/>

    <!--     
      The NetworkQueryTimeout value is the number of seconds the service will wait while searching
      for a session on the network, before giving up.
           
      NOTES:
      1.  Increasing this value increases the chance that sessions will always be found on the network,
          however, this will also cause web applications to be less responsive because more time will be
          spent searching the network for sessions.
          
      2.  Increasing this value leads to higher web server wait times which may cause the network 
          connection between the web server and the state service to time out if the total wait time is 
          longer than the value of the stateNetworkTimeout attribute in the web applications' <sessionState> 
          configuration.
          As a guide, try to set this value to below one-third the value of the stateNetworkTimeout value.
          (The default stateNetworkTimeout value is 10 seconds)         
    -->
    <add key ="NetworkQueryTimeout" value ="3"/>

    <!-- Set the StandaloneMode value to true to have the service run like the regular Microsoft
         ASP.NET state service without peer to peer support -->
    <add key ="StandaloneMode" value="false"/>    
  </appSettings>

    <!--
      The <Peers> sections enables configuration of peers the service will connect to.
      The key attribute can be set to any identifier. The value attribute must be set to the host[:port] of the peer
    -->
  <Peers>
    <!-- Example of peers:
    <add key="Peer1"  value="127.0.0.1:42425" />
    <add key="Peer2"  value="networkPC:22222" />
    -->    
  </Peers>
  
</configuration>
